{% extends '_base.html' %}
{% block title %}
    <title>View group</title>
{% endblock %}
{% block main %}
    <h2>
        Group {{ object.specialty }}
        <a href="{% url 'groups:edit_group' id=object.id %}">Edit</a>
    </h2>
    <table class="table">
        <tr>
            <th>Course</th>
            <td>{{ object.specialty }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ object.get_location_display }}</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>{{ object.date_start }}</td>
        </tr>
        <tr>
            <th>Headman</th>
            <td>{{ object.headman.name }}</td>
        </tr>
    </table>
    <h3>Students</h3>
    {% with students=object.students.all  %}
        {% include 'students/_students_list.html' %}
    {% endwith %}
    <h3>Teachers</h3>
    {% with teachers=object.teachers.all  %}
        {% include 'teachers/_teachers_list.html' %}
    {% endwith %}
{% endblock %}
