{% extends '_base.html' %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}
    {% block title %}
        <title>View teachers</title>
    {% endblock %}
{% block main %}
    <form>
        <p>
            <strong>Search teachers</strong>
            <a style="margin: 7px" type="submit" class="btn btn-light btn-sm" href="{% url 'teachers:create_teacher' %}">Add new teacher</a>
        </p>
        {{ filter.form|crispy }}
        <p>
            <button style="margin-top: 7px"  type="submit" class="btn btn-primary btn-sm">Search</button>
        </p>
    </form>

    {% include 'teachers/_teachers_list.html' with teachers=object_list%}
    {% bootstrap_paginate page_obj show_prev_next="false" show_first_last="true" %}
{% endblock %}