body {
    background-color: aliceblue;
}
.profile-image img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}
#small-profile-image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}
